body {
    font-family: georgia,sans-serif;
    font-size: 15px;
    background-color: rgb(243, 243, 243);
    color: rgb(46, 46, 46);
    margin: 0;
}

#content {
    max-width: 780px;
    margin: 0 auto;   
}

#narrow-content {
    max-width: 624px;
    padding: 20px 10px;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.banner {
    padding: 10px 0 0 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 5px auto;
    font-size: 80%;
    color: #5F5F5F;
}
.banner ul {
    padding: 0;
    margin: 0 auto;
}
.banner li {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    padding: 0px 10px;
}

.info {
    margin: 20px auto;
}
.info > * {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
.info .portrait {
    width: 15%;   
}
.info .portrait img {
    width: 100%;
    border-radius: 5px;
    /* border: 1px dashed; */
    /*box-shadow: 0px 0px 3px 2px #6F6F6F;*/
}
.info .introduction {
    padding: 20px;
}


.underline {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 25px;
    margin: 20px auto;
}
.authors {
    text-align: center;
    font-size: 16px;
    margin: 10px
}
.publisher {
    text-align: center;
    font-size: 16px;
    margin: 10px
}
.teaser {
    width: 65%;
    text-align: center;
    margin: 10px auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
    padding: 0;
}
.teaser > img {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.block > h3 {
    margin-bottom: 0px;
}
.block > p {
    margin-top: 5px;
    word-break: break-word; 
    overflow-wrap: break-word;
    padding: 5px 10px;
}
.block > p::first-letter {
    font-size: 25px;
}
.block > table {
    margin: 5px auto auto 5px;
    width: 80%;
}
.block > ul > li {
    margin: 10px 25px 10px -15px;
    list-style-type: circle;
}

.block > .education {
    margin: 5px auto 5px 20px;
    text-align: left;
}
.block > .education > * {
    margin: 2px auto 2px 0px;
}
.block > .education > .period {
    max-width: 140px;
    text-align: center;
    color: #E8E1D8;
    background-color: #4F4F4F;
    border-radius: 10px 10px 0px 10px;
    padding: 2px;
}


.footer {
    text-align: center;
    margin: 5px auto;
    font-size: 13px;
    color: #6F6F6F;
    min-height: 70px;
}